div.easy_pagination a {
	margin:2px;
	padding: -3px 6px 10px !important;
	line-height: 30px;
	cursor:pointer;
}
div.easy_pagination a.disabled {
	cursor: default;
}
.navnavnav { padding:0 950px 0 0 ; }
.test2 {
	text-decoration:none;
	font-weight:normal;
	visibility:hidden;
	font-size:12px;
	line-height: 1.4em;
	height:100%;
}
.test:hover .test2, #reservationTable > tbody > tr > td:hover .test2 { visibility:visible; }
.displaying-nums {
	color: #777777;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 12px;
	font-style: italic;
}
.asc2 { background-image:url(images/sortup.gif);background-repeat:no-repeat;background-position: 95%;display:block;cursor:pointer; }
.asc2:hover { background-image:url(images/sortdown.gif);background-repeat:no-repeat;background-position: 95%;display:block;cursor:pointer;}
.desc2  { background-image:url(images/sortdown.gif);background-repeat:no-repeat;background-position: 95%;display:block;cursor:pointer;}
.desc2:hover { background-image:url(images/sortup.gif);background-repeat:no-repeat;background-position: 95%;display:block;cursor:pointer;} 
.stand2  {	background-image:url(images/leer.png);background-repeat:no-repeat;background-position: 95%;display:block; } 
.stand2:hover { background-image:url(images/sortup.gif);background-repeat:no-repeat;background-position: 95%;display:block;cursor:pointer;} 

ul.tabs {  
	margin:0 !important; 
	padding:0;
}
ul.tabs li {  
	float:left;	 
	padding:0; 
	margin:0;
}

.codecolor {
    background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 3px 3px 3px;
    color: #0169af;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
}
.explainbox {
	padding: 0px;
	width:95%;
	text-align:left;
}
.explainbox > span {
	display: inline-block;
	padding: 0px 18px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight: bold !important;
	text-align:center;
	display: inline-block;
	vertical-align: top;
	color:#000;
	font-size: 13px;
	text-transform: capitalize !important;
}
.explainbox > span > b {
	padding-top: 7px;
	font-size: 22px;	
	font-weight: bold !important;
	color:#777;
	display: block;
	text-transform: capitalize !important;
}
.explainbox > span > a {
	display:block;
	font-family: Arial,sans-serif;
	font-size:13px !important;
	color:#666;
	margin-bottom: 0px;
}
.explainbox > span > a:hover {
	color:#222;
}
.changebox {
	border:solid 3px #ebebeb; 
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 4px #dadada;
	padding: 8px; 
	margin: 4px 0 8px 0; 
	width:95%; 
	background:#f4f1f1;
}
.changebox p {
	padding: 6px 0 2px 10px;
	margin: 0 0 0 10px;
}
.changebox a {
	padding: 10px 0 10px 0px;
	margin: 10px 0 10px 0px;
	font-size:14px;
	font-weight:bold;
}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}
.reservationTable > tbody td {
	vertical-align:top !important;
}

.no-select { 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}
.er-mail-textarea {
	width:99.5%;
	height:200px;
}
.updated, .error {
	margin: 0px 0px 7px 0px !important;
	width:98%;
}
#easy-table-div .ui-datepicker-trigger, #filter-table .ui-datepicker-trigger {
	margin:0 4px 0 10px !important;
	vertical-align:middle;
	display: inline-block;
}
#overview .ui-datepicker-trigger {
	margin:0 4px 0 10px !important;
	vertical-align:middle;
}
.add-new-h2 {
	background: none repeat scroll 0 0 #F1F1F1;
	border: 0 none;
	font-family: sans-serif;
	font-size: 12px;
	margin-left: 4px;
	padding: 3px 8px;
	position: relative;
	text-decoration: none;
	top: -2px;
	border-radius: 3px 3px 3px 3px;
	color: #464646;
}
h2 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	color: #464646;
	font-size: 1.5em;
	font-weight: normal !important;
    margin: 0.5em 0 !important;
    text-shadow: 0 1px 0 #FFFFFF;
}
.easy-h3 {
	color: #464646;
	font-size: 14px;
	font-weight: bold;
    margin: 3px !important;
    margin-bottom: 5px;
    display: block;
}
#filter-table{
	background:#fff;
	border-top:0;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.hide-it {
	visibility:hidden;
	max-width:0px;
	max-height:0px;
	position:absolute;
	overflow:hidden;
}
.wp-editor-container {
	margin-top:8px;
}
/* CHAT */

.avatar-15 {
	width:15px;
	height:15px;
	margin:0px 0px 1px 8px;
	vertical-align:text-bottom; 	
}

.chat-container {
	float:right;
}
.chat-container .chat-entry-h1:first-of-type {
	border-top:solid 1px #EAEAEA;
}
.chat-container a {
	text-decoration:none;
}
.chat-entry-h1{
	font-size:10px;
	color:#666666;
	margin: 0px !important;
	border-bottom:solid 1px #EAEAEA;
	padding:8px 0px 8px;
}
.chat-admin {
	background:#FAFFE6;
}
.chat-user {
	background:#fff;
}
.chat-hidden {
	background:#E8F3FF;
}
.chat-entry-bold {
	margin-left:8px;
	color:#000;
	font-size:14px !important;
	font-weight:bold !important;
}
.chat-entry-message {
	display:inline-block;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 10px  0px;
    color: #666666;
    font-size: 11px;
    font-weight: normal;
}
.chat-entry-p {
	padding: 10px 10px !important;
	margin-bottom: 0px !important;
}
#easy-chat-mode {
	margin-left:15px;
}
.chat-entry-time {
	float:right;
	padding-right: 6px;
}
.chat-container p {
	font-size:11px;
	color:#666666;
	margin: 0px 10px 20px 10px;
	border-bottom:solid 1px #EAEAEA;
	padding-bottom:10px;
}
.chat-container h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
	margin-left:8px;
}
.easy-modules-table .inactive {
	background: #F4F4F4;
	color: #333333;
}
.easy-modules-table .deprecated {
	background: #FFCCCC;
	color: #333333;
}
.easy-modules-table .deprecated td {
	border-bottom: 1px solid #FF0000;
	border-top: 1px solid #FF0000;
}
.easy-modules-table .inactive a {
	color: #557799;
}
/* NEW CHATS */
.reservationTable span.update-plugins {
    border-radius: 10px 10px 10px 10px;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 5px;
    margin-top: 1px;
    position: absolute;
	background-color: #464646;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    padding: 0 5px;
}
.reservationTable span.update-plugins a {
    color: #FFFFFF;
}
/* FAVOURITE */
.easy-favourite {
	cursor:pointer;
	display:inline-block;
	width:15px;
	height:15px;
	margin:3px 0px 0px 7px;
}
.easy-fav {
	background:url(images/star_full.png);
}
.easy-fav:hover {
	background:url(images/star_full_hover.png);
}
.easy-unfav {
	background:url(images/star_empty.png);
}
.easy-unfav:hover {
	background:url(images/star_empty_hover.png);
}
.metabox-prefs label {
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}

#jqueryTooltip {
    position:absolute; /* das ist zwingend notwendig, damit der Tooltip der Maus folgen kann */
    display:none; /* auch wichtig damit der Tooltip leer nicht gezeigt wird */
    border:1px solid #000;
    background:#fff;
    padding:0.25em;
}
#contextual-help-link-wrap, .show-settings	{
	background-color:#575757 !important;
	color:#fff !important;
	text-shadow: #c0c0c0 0px 0px 0px !important;
	padding-bottom:1px !important;
}
.metabox-prefs label {
	line-height: 1.4em !important;
}
.easy-welcome-panel {
	line-height: 1.6em;
	width:90%;
	display:block;
	min-height: 200px;
}
.easy-welcome-panel h3 {
	margin-left: 190px;
	text-shadow: 1px 1px 1px white;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 1.2;
	margin-top: 0px;
	margin-bottom:0px;
}
.easy-welcome-panel p {
	color: #777777;
	margin-left: 190px;	
	margin-top:10px;
}
.coupon {
	padding:2px 4px;
	color:#fff;
	margin-left: 2px;
}
.coupon-red {
	background:#F26868;
}
.coupon-green {
	background:#5EE06B;
}
.coupon-yellow {
	background:#FFBD54;
	margin-top: 15px;
}
.easy-pointer-right > .wp-pointer-arrow {
	margin-left:205px;
}
.easy-pointer-right2 > .wp-pointer-arrow {
	margin-left:100px;
}
.easy-pointer-right3 > .wp-pointer-arrow {
	margin-left:182px;
}
.statisticnavi { width: 100%; margin-bottom: 30px; }
.statsnavi { padding-right: 10px; }
.statisticnavi a, .statsnavi a { padding: 5px; font-size: 17px; }
.statisticnavi a:active, .statisticnavi a.isactive, .statsnavi a:active { font-weight:bold; color: #666; }
.statisticnavi a:hover, .statsnavi a:hover { color: #666; }
tbody .er_res_old {
	color:#2A78D8 !important;
}
tbody .er_res_now {
	color:#118D18 !important;
}
tbody .er_res_future {
	color:#CC3333 !important;
}
span[class*="table-status-"]{
	display: inline-block;
	padding: 4px 6px;
	text-transform: capitalize;
	color: #fff;
}
span.table-status-yes {
	background:#8FD996;
}
span.table-status-no {
	background:#ED687B;
}
span.table-status-del {
	background:#AB2AD6;
}
span.table-status- {
	background:#639af9;
}
.afilter { cursor: pointer; }
.activefilter { cursor: default; font-weight: bold; color: #000; }

/* STREAM */

#showStream {
	background: url(images/line.png) 15px 5px repeat-y ,#fff;
	border: 1px solid #eee;
	padding-left: 30px;
	width:500px;
}

.stream_time_divider {
	display:block;
	margin-left:10px;
	margin-top: 10px;
	font-size:14px;
	font-weight: bold;
}

.easy_stream {
	background: #f3f3f3;
	margin: 10px;
	padding: 8px;
	padding-left:0px;
	padding-bottom:1px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	vertical-align: top;
}

.easy_stream .stream_pointer {
	width: 15px;
	height:5px;
	background: #f3f3f3;
	display: inline-block;
	position: relative;
	top:-20px;
	right: 15px;
}

.easy_stream div.easy_stream_info {
	display:inline-block;
	width:80px;
	text-align: center;
	padding:4px;
	padding-left:0px;
}

.easy_stream .easy_stream_info .easy_stream_type {
	display:inline-block;
	color:#fff;
	padding:4px;
	
}
.easy_stream .easy_stream_info .easy_stream_type.install {
	background-color:  #AB2AD6;
}

.easy_stream .easy_stream_info .easy_stream_type.reservation {
	background-color: #FF0000;
}

.easy_stream .easy_stream_info .easy_stream_time {
	display:inline-block;
	padding:4px;
	font-weight: bold;
	font-size:12px;
}

.easy_stream .easy_stream_entry {
	display:inline-block;
	vertical-align: top;
	height:100%;
	width:70%;
	line-height: 1.5em;
	padding: 4px;
}

.easy_stream .avatar {
	vertical-align: middle;
}

.easy_stream a {
	display: inline-block;
	padding: 0px 2px;
	text-decoration: none;
	font-size: 11px;
}

.easy_stream a.stream_reservation {
	background:#e22d39;
	color: #fff;
}
#set_groundprice_table tr td:last-child {
	text-align: right;
}
#set_groundprice_table #headline {
	text-align:left;
	font-weight:bold;
}
#reservation_main_settings_table img {
	vertical-align:text-bottom;
	margin-right:2px;
}
#reservation_important_guests_table{ margin-top: 7px; }
.ui-datepicker-trigger {width: 16px; height: 16px;}
b.legend, label.legend {
    padding:4px;
    display:inline-block;
    min-width:65px;
    color: #000;
}

#set_groundprice { margin-bottom: 0px; }

table.premium tbody tr td,
table.widefat tbody tr td,
table.greyfat tbody tr td { vertical-align: text-top }

#accordion_container {
    width:35%;
    display: inline-block;
}
#accordion {
    display: inline-block;
    width:99%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    border:1px solid #CCC;
    border-left:0px;
    cursor: default;
}

#accordion .ui-accordion-header {
    border-bottom:1px solid #ccc;
    padding: 5px 0px 5px 25px;
    background-color: #ECECEC;
    font-weight: normal;
    margin:0px;
    cursor: pointer;
    background-image: url(images/sortright.gif);
    background-repeat: no-repeat;
    background-position: 11px;
    outline: none;
}
#accordion .ui-accordion-header.ui-state-active {
    background-image: url(images/sortdown.gif);
    background-position: 10px;
}
#accordion .ui-accordion-header.ui-state-hover {background-color: #DFDFDF}
#accordion div.ui-accordion-content { border-bottom:1px solid #ccc;padding: 4px 6px; }
#accordion:last-child {border-bottom: 0px; }
#accordion p, #accordion h4 { margin: 3px 0px; }
#accordion p.desc {font-style: italic; padding:2px 0px; max-width: 300px; font-size: 13px}

table.formtable {
    width: 100%;
    padding:0px;
    margin: 0px;
    border-collapse:collapse;
}
table.formtable thead th {
    padding: 3px 6px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom:1px solid #DEDEDE;
    border-right:1px solid #DEDEDE;
}
table.formtable tbody tr:hover td {
    background-color: #f0f0f0;
    cursor: pointer;
}
table.formtable tbody td {
    padding: 3px 6px;
    border-bottom:1px solid #DEDEDE;
    border-right:1px solid #DEDEDE;
}
table.formtable .hidden {display: table-row;}
table.formtable thead th:nth-child(2){ text-align: left; }
table.formtable thead th:nth-child(3),
table.formtable tbody td:nth-child(3){ text-align: center }
table.formtable tbody td:nth-child(1){ width: 25px;background-position: center center; background-repeat: no-repeat }
table.formtable tbody td:last-of-type,
table.formtable thead th:last-of-type {
    border-right: 0px;
}
table.formtable tbody tr:last-of-type td { border-bottom: 0px; }
#accordion div.table {
    padding:0px;
}

ul.navtabs {display: inline-block;margin-bottom:0px;color:#111;margin: 0px;}
ul.navtabs li {list-style:none; float:left;display:inline-block;padding:6px 10px;border-left:1px solid #BFBFBF;border-top:1px solid #BFBFBF;margin:0px;background:#ECECEC;	}
ul.navtabs li:last-of-type {float: none;border-right:1px solid #BFBFBF;}
ul.navtabs a {color:#4F4F4F;height: 100%;display:inline-block;text-decoration:none!important;}
ul.navtabs li:hover {background:#DFDFDF;}
ul.navtabs a.selected, ul.navtabs li.curr, ul.navtabs li.curr a {margin-bottom:0;background:#353535;border-color:#353535;color:#ffffff;font-weight: bold;cursor:default;}

formtag {
    background: #0191C8;
    color: #fff;
    cursor: pointer;
}

formtag.error {
    background: #FF5C5C;
    color: #fff;
}
formtag.taghover {
    background: #A4CCE9;
}

table.formsubmit {background: #fff; width: 99%;border-collapse:collapse; }
table.formsubmit td {background: #fff; width: 34%; border-bottom:1px solid #CCC; border-right:1px solid #CCC;text-align: center;font-weight: bold; padding:5px;}
table.formsubmit td:first-of-type { background: #fff; width: 34%;}

#custom_fields_table ul {
    margin: 3px;
}

#options_sortable {
    width: 600px;
}

.sortable {
    color: #000;
    margin: 2px 0px 2px 5px;
    padding: 5px 5px 5px 8px;
    background: #d8d8d8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius:5px;
    cursor: pointer;
}

.sortable strong {
    font-weight: bold !important;
}

.sortable.clause {
  background: #c3c3c3;
}

<!--[if IE]>
#ieerror {
    display: block !important;
    line-height: 20px !important;
    max-height: inherit !important;
}
<![endif]-->
@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

