.easy-searchbar {
	background:#F7F8F9;
	border:1px solid #EAEAEA;
	font-family: Arial,sans-serif;
	color:#777777 !important;
	display:block;
		padding:6px !important;

}
.easy-searchbar input[type="text"]{
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;	
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
	font-weight:normal !important;font-weight
	color:#888;
	background:#fff;
	padding: 4px 9px;
	font-family: Arial,sans-serif;
}
.easy-searchbar select {
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;	
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    color:#999 !important;
    padding: 4px;
	margin: 0px 2px;
}
.easy-searchbar input:focus,
.easy-searchbar select:focus {
    background-color: #F3F9FF;
    border-color: #7EBCEE;
	color: #000 !important;
    outline: medium none;
}
.easy-searchbar .ui-datepicker-trigger {
	padding:0px 3px;
	vertical-align:text-bottom;
}
.easy-searchbar .easy-search-submit {
	float:right;
    background-color: #57AADF;
	background: -moz-linear-gradient(center top , #50BAF7 0pt, #2875EF 100%);
    border: 1px solid #417FA7;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 #64CBF9 inset;
    color: #FFFFFF;
	padding: 4px;
    text-shadow: 0 -1px 0 #0F49EA;
	cursor:pointer;
}
.easy-searchbar .easy-search-submit:hover {
    background-image: -moz-linear-gradient(center top , #66B9E2, #4192D1);
}
.easy-searchbar .easy-search-submit:focus {
    border: 1px solid #417FA7;
	color:#fff !important;
}
.easy-searchbar .easy-search-submit:active {
	position:relative;
	top:1px;
}
#easy-form-loading{
	margin-right:4px;
	float:right;
}
.easy-search-room {
	border:1px solid #EAEAEA;
	border-top: none;
}
.easy-search-room + .disabled {
	background : #FCFCFC;
}
.easy-search-room  .wp-post-image {
	float:right;
	margin-right:5px;
	padding:10px;
	-webkit-border-radius: 3px; /* Saf3+, Chrome */
	border-radius: 3px; /* Opera 10.5, IE 9 */
	/*-webkit-box-shadow: 0px 0px 3px #000000; /* webkit browser* -moz-box-shadow: 0px 0px 3px #000000; /* firefox * box-shadow: 0px 0px 3px #000000;
	/*-moz-border-radius: 30px; Disabled for FF1+ */
}
.easy-search-h1 {
	font-weight:bold;
	font-size: 16px;
}
.easy-search-content {
	color:#666;
	font-size:14px;
}
.easy-search-price {
	color:#048517;
	font-weight:bold;
	font-size:12px;
	font: 95% Trebuchet, Tahoma, Geneva, sans-serif;
	display:block !important;
}
#easy-search-avail {
	display:block;
	font: 95% Trebuchet, Tahoma, Geneva, sans-serif;
	color:#8a8a8a;	
}
.occu-color-0 {
	color: #ff3732 !important;
}
.easy-search-reserve-form {
	
}
.easy-search-form-submit {
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}
.easy-search-form-submit:hover {
	text-decoration: none;
}
.easy-search-error {
	padding: 6px;
	background-color: #FFF4F4;
	border:1px solid #EDA7A6;
	margin-top:10px;
	width:100%;
}
.ui-datepicker{
	font-size:10px !important;
}
/* Table */
table.easy-search-calendar-table {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	margin: 0px !important;
	padding: 0px !important;
	border-bottom: 1px solid #EAEAEA !important;
	border-left: 1px solid #EAEAEA !important;
	border-spacing: 0;
}
.easy-search-calendar-table tr{
}
.easy-search-calendar-table thead th {
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%) repeat scroll 0 0 transparent;
	padding:4px 0px;
	text-align:center;
	width:inherit !important;
	border-right: 1px solid #EAEAEA !important;
	overflow:hidden;
	line-height: 10px;
	text-transform: capitalize;
	color:#898989;
	font-size-adjust: inherit;
}
.easy-search-calendar-table thead .easy-select {
	background: -moz-linear-gradient(center top , #F6F6F6 0%, #EAEAEA 47%, #DDDDDD 100%) repeat scroll 0 0 transparent;
}

.easy-search-calendar-table tbody td {
	padding:4px 0px;
	border-top: 1px solid #EAEAEA !important;

	width:inherit !important;
	border-right: 1px solid #EAEAEA !important;
	text-align:center;
	overflow:hidden;
	white-space: normal;
	color:#fff;
}
.easy-search-calendar-table tbody .easy-empty { background: #86B754; }
.easy-search-calendar-table tbody .easy-part { background: #E5B94B; }
.easy-search-calendar-table tbody .easy-full { background: #B75654; }
.easy-search-calendar-table thead th .easy-search-day {
	display:block;
}

.easy-search-room-inner {
	padding:6px !important;
}