/*
Maybe unnecasary
.full { height:36px; padding:-5px; width:10%;  }
.full:hover { background: #ffba00;  }
.fulle { text-shadow: 0px; border-style:none; } */
.ui-datepicker{
	font-size:11px !important;
	padding:0.1em;
}
.ui-state-default{
	font-size:10px !important;
	text-align:center !important;
	font-weight:bold !important;
}
.ui-datepicker select {
	padding:1px !important;
}


div.pagination {
	padding: 2px;
	margin: 0px;
	float: center;
	border:0px;
}
.bghell {
	background:#EAE8E8;
	border-bottom: 1px solid #9E9E9E;
	border-top: 1px solid #9E9E9E;
}
.bgdunkel {
	background:#DBDBDB;
	border-bottom: 1px solid #9E9E9E;
	border-top: 1px solid #9E9E9E;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	text-decoration: none;
	color: #21759b;
	cursor:pointer;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #EEE;
	color: #000;
}
.pagination .disabled{
	border: 1px solid #dfdfdf;
	background:-moz-linear-gradient(top, #f8f8f8, #ececec);
	padding: 5px 5px 5px 5px;
	text-decoration:none;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
}
.navnavnav { padding:0 950px 0 0 ; } 
.tablenav { background:#ffffff; }
.test2 {
  text-decoration:none;
  font-weight:normal;
  visibility:hidden;
  font-size:12px;
  line-height: 1.4em;
}
.displaying-nums {
 color: #777777;
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size: 12px;
  font-style: italic;

}
.test:hover .test2 { visibility:visible; }
.asc2 {
  background-image:url(images/sortup.gif);
  background-repeat:no-repeat;
  background-position: 95%;
  display:block;
  cursor:pointer;
}
.asc2:hover {
  background-image:url(images/sortdown.gif);
  background-repeat:no-repeat;
  background-position: 95%;
  display:block;
  cursor:pointer;
}
.desc2  {
  background-image:url(images/sortdown.gif);
  background-repeat:no-repeat;
  background-position: 95%;
  display:block;
  cursor:pointer;
}
.desc2:hover {
	background-image:url(images/sortup.gif);
	background-repeat:no-repeat;
	background-position: 95%;
	display:block;
	cursor:pointer;

} 
.stand2  {
	background-image:url(images/leer.png);
	background-repeat:no-repeat;
	background-position: 95%;
	display:block;
} 
.stand2:hover {
	background-image:url(images/sortup.gif);
	background-repeat:no-repeat;
	background-position: 95%;
	display:block;
	cursor:pointer;
} 
/* root element for tabs  */
ul.tabs {  
	margin:0 !important; 
	padding:0;
}

/* single tab */
ul.tabs li {  
	float:left;	 
	padding:0; 
	margin:0;
}
.codecolor {
    background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 3px 3px 3px;
    color: #0169af;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
}
.explainbox {
	border:solid 1px #FFF141; 
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 2px #fcf59f;
	padding: 10px; 
	width:95%; 
	background:#fdfeec;
}
.explainbox i {
	color: #646363;
}	
.explainbox p {
	margin: 3px;
}	
.changebox {
	border:solid 3px #ebebeb; 
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 4px #dadada;
	padding: 8px; 
	margin: 4px 0 8px 0; 
	width:95%; 
	background:#f4f1f1;
}
.changebox p {
	padding: 6px 0 2px 10px;
	margin: 0 0 0 10px;
}
.changebox a {
	padding: 10px 0 10px 0px;
	margin: 10px 0 10px 0px;
	font-size:14px;
	font-weight:bold;
}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}

.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}
.reservationTable > tbody td {
	vertical-align:top !important;
}
.simple_overlay .close {
	background-image:url(../img/overlay/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
#dialog1 .d-header {
  background:url(images/login-header.png) no-repeat 0 0 transparent; 
  width:375px;
  height:150px;
}
#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

.greyfat tbody .little_table {
	margin:none !important;
	padding:none !important;
	border-spacing:0 !important;
	width:100%;
}

.greyfat tbody .little_table thead {
	margin:none !important;
	padding:none !important;

}
.greyfat tbody .little_table thead tr:first-child {
	background-color:#E6E6E6 !important;
	padding: 5px 7px 3px;
}
.greyfat tbody .little_table th {
	border:none;
	border-top: 1px solid #ccc;
	margin:none !important;
	padding: 5px 7px 3px;
	
}
.greyfat tbody .little_table td {
	border:none !important;
	border-bottom: 1px solid #ccc;
	margin:none !important;
	padding:none !important;
}
.greyfat .little_table tbody tr:nth-child(odd) {
	background:#fff;
}
.greyfat .little_table tbody tr:nth-child(even) {
	background:#f8f8f7;
}
.er_res_old {
	background:#2A78D8;
	max-width:4px !important;
	min-width:4px !important;
	border-left:0px !important;
	padding:0px !important;
}
.er_res_now {
	background:#118D18;
	max-width:4px !important;
	min-width:4px !important;
	border-left:0px !important;
	padding:0px !important;
}
.greyfat tbody .er_res_future {
	background:#CC3333;
	max-width:4px !important;
	border-left:0px !important;
	padding:0px !important;
	min-width:4px !important;
}
.no-select { 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}
.er-mail-textarea {
	width:99.5%;
	height:200px;
}
.updated, .error {
	margin: 0px 0px 7px 0px !important;
	width:98%;
}
#easy-table-div .ui-datepicker-trigger {
	margin:0 5px 0 6px !important;
	vertical-align:text-bottom;
}
#overview .ui-datepicker-trigger {
	vertical-align:text-bottom;
}
.add-new-h2 {
	background: none repeat scroll 0 0 #F1F1F1;
	border: 0 none;
	font-family: sans-serif;
	font-size: 12px;
	margin-left: 4px;
	padding: 3px 8px;
	position: relative;
	text-decoration: none;
	top: -2px;
	border-radius: 3px 3px 3px 3px;
	color: #464646;

}
h2 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	color: #464646;
	font-size: 1.5em;
	font-weight: normal !important;
    margin: 0.5em 0 !important;
    text-shadow: 0 1px 0 #FFFFFF;
}