	.calendar-table {
		border:1px solid #000 !important;
		border-spacing: 0;
		margin:0 !important;
	}
	.calendar-cell {
		color: #fff;
		text-align:center;
		vertical-align:top;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-top:none !important;
		text-align: center !important;
		vertical-align: middle;
		font-size:13px;
		padding: 3px !important;
		width:14.6%;
	}
	tr .calendar-cell:last-of-type{
		border-right:0;
	}
	tr .calendar-header-cell:last-of-type{
		border-right:0;
	}
	.calendar-table tr:last-of-type td {
		border-bottom:0;
	}
	.calendar-header-cell {
		text-align:center;
		border-bottom: 1px solid #fff; 
		background: #000;
		color:#fff !important;
		vertical-align: middle !important;
	}
	.calendar-table th {
		 line-height: 2.6em !important;
	}
	.calendar-cell-last {
		background: #cccccc; 
		color: #666666;
	}
	.calendar-cell-full {
		background: #cc0001; 
		color: #fff;
	}
	.calendar-cell-occupied {
		background: #ffcb00; 
		color: #5E5E5E;
	}
	.calendar-cell-empty {
		background: #006600; 
		color: #fff;
	}
	.calendar-header-month-prev {
		text-align:left;
		background: #575757;
		vertical-align: middle !important;
	}
	.calendar-header-month-next {
		text-align:right;
		background: #575757;
		vertical-align: middle !important;
	}
	.calendar-header-show-month {
		font-family: "Arial";
		font-size: 12px !important;
		text-align:center;
		background: #575757;
		color:#fff !important;
		vertical-align: middle !important;
	}
	.calendar-month-button {
		margin: 0px 4px;
		background:#898989;
		color:#000;
		font-weight:bold;
		text-decoration:none;
		padding:3px 5px;
		-moz-border-radius: 2px;
		-khtml-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}
	.calendar-month-button:hover {
		cursor:pointer;
		background:#3A3A3A;
		color:#fff;
		text-decoration:none;
	}
	.calendar-cell-today {
		font-weight:bold;
	}