input[type=text] {
	    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 300px;
	background:#FCFCFC;
	box-shadow: 1px 1px 1px #ccc
}