	.calendar-table {
		color: #666;
		font-size: 12px;
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		border:none !important;
		border-top:1px solid #383838 !important;
		border-spacing: 0;
		/*line-height:2.0em !important;*/
	}
	
	.calendarheader {
		color: #e0e0e0;
		/*padding: 12px 0 8px 0;*/
		text-align: center;
		text-shadow: 0 -1px 0 #000;
		-webkit-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3) !important;
		-moz-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3) !important;
		box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3) !important;
		background: none repeat scroll 0 0 #383838;
		border-left: 1px solid #383838 !important;
	}
	
	.calendar-cell {
		color: #666;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		text-align: center;
		font-weight: bold;
		background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#dedede));
		background: -moz-linear-gradient(top,  #ededed,  #dedede);
		border-bottom: 1px solid #898989;
		border-left: 1px solid #898989;
		border-top:none !important;
		background: #EDEDED; /* Old browsers */
		vertical-align: middle;
		padding:3px !important;
		width:14.6%;
		/*line-height:20px;*/
		/*padding: 8px 5px  5px  5px !important;*/
	}

	.calendar-table tbody td:first-of-type  {
		border-left:none !Important;
	}

	.calendar-table tbody tr td:first-of-type  {
		border-left:1px solid #898989 !important;
	}

	.calendar-table tbody tr td:last-of-type  {
		border-right:1px solid #898989 !important;
	}
	
	.calendar-table thead .calendar-header-cell:first-of-type  {
		border-left:1px solid #898989 !important;
	}
	
	.calendar-table thead .calendar-header-cell:last-of-type  {
		border-right:1px solid #898989 !important;
	}
	
	.calendar-header-cell {
		vertical-align: middle !important;
		font-size: 9px;
		/*padding:none !important;*/
		color: #666;
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		border-bottom: 1px solid #bbbbbb;
		background: #f7f7f7;
		background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f1f1f1));
		background: -moz-linear-gradient(top,  #f7f7f7,  #f1f1f1);
		text-align:center;
	}

	.calendar-cell-last {
		border-left:none;
		color: #666666;
	}
	.calendar-cell-last span {
		display:none;
	}
	.calendar-cell-lastfixer {
		border-left:1px solid #898989;
	}
	.calendar-cell-full {
		background: -moz-linear-gradient(top, #EDEDED 0%, #D8D8D8 88%, #C14B49 88%, #C14B49 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(88%,#D8D8D8), color-stop(88%,#C14B49), color-stop(100%,#C14B49)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#C14B49 88%,#C14B49 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#C14B49 88%,#C14B49 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#C14B49 88%,#C14B49 100%); /* IE10+ */
		background: linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#C14B49 88%,#C14B49 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#C14B49',GradientType=0 ); /* IE6-9 */
	}
	.calendar-cell-occupied {
		background: -moz-linear-gradient(top, #EDEDED 0%, #D8D8D8 88%, #E0DD41 88%, #E0DD41 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(88%,#D8D8D8), color-stop(88%,#E0DD41), color-stop(100%,#E0DD41)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#E0DD41 88%,#E0DD41 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#E0DD41 88%,#E0DD41 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#E0DD41 88%,#E0DD41 100%); /* IE10+ */
		background: linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#E0DD41 88%,#E0DD41 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#E0DD41',GradientType=0 ); /* IE6-9 */
	}
	.calendar-cell-empty {
		background: -moz-linear-gradient(top, #EDEDED 0%, #D8D8D8 88%, #81C149 88%, #81C149 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(88%,#D8D8D8), color-stop(88%,#81C149), color-stop(100%,#81C149)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#81C149 88%,#81C149 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#81C149 88%,#81C149 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#81C149 88%,#81C149 100%); /* IE10+ */
		background: linear-gradient(top, #EDEDED 0%,#D8D8D8 88%,#81C149 88%,#81C149 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#81C149',GradientType=0 ); /* IE6-9 */
	}
	.calendar-header-month-prev {
		text-align:left;
		vertical-align: middle !important;
	}
	.calendar-header-month-next {
		text-align:right;
		vertical-align: middle !important;

	}
	.calendar-header-show-month {
		text-align:center;
		color: #E0E0E0 !important;
		font-size: 14px !important;
		font-family: sans-serif !important;
		text-transform: none !important;
				vertical-align: middle !important;

	}
	.calendar-month-button {
		margin: 0px 4px;
		color:#fff;
		font: bold 16px arial;
		text-decoration:none;
		padding:3px 5px;
	   -moz-user-select: none;-khtml-user-select: none;user-select: none;
   }
	.calendar-month-button:hover {
		cursor:pointer;
		color:#E5E5E5;
		text-decoration:none;
	}
	.calendar-cell-today {
		color: #000;
		font-weight:bold;
	}
