	.calendar-table {
		color: #666;
		font-size: 12px;
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		border:none !important;
		border-top:1px solid #383838 !important;
		border-spacing: 0;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		width: 100% !important;
	}
	.calendar-table table {
		border:none !important;
		border-spacing:0px;
	}
	.calendar-table > tbody > tr > td {
		border-top: none;
		border-right:none;
	}
	.calendar-table > tbody {
		border-right:none;
	}
	.calendarheader {
		color: #e0e0e0 !important;
		text-align: center;
		text-shadow: 0 -1px 0 #000;
		-webkit-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3) !important;
		-moz-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3) !important;
		box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3) !important;
		background: none repeat scroll 0 0 #383838 !important;
		border-left: 1px solid #383838 !important;
		border-bottom: 1px solid #383838 !important;
	}
	.calendar-cell {
		color: #666;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		text-align: center;
		font-weight: bold;
		background: #ededed; /* Old browsers */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
		border-bottom: 1px solid #898989;
		border-left: 1px solid #898989;
		border-top:none !important;
		background: #F4F4F4; /* Old browsers */
		vertical-align: middle;
		padding:2px 3px 4px 3px !important;
		/* width:14.6%; */
		min-width:14%;
		width:14.28%;
		max-width:15%;
	}

	.calendar-table tbody td:first-of-type  {
		border-left:none !Important;
	}

	.calendar-table tbody tr td:first-of-type  {
		border-left:1px solid #898989 !important;
	}

	.calendar-table thead .calendar-header-cell:last-of-type,
	.calendar-direct-table tbody tr td:last-of-type {
		border-right:1px solid #898989 !important;
	}
	
	.calendar-direct-table tbody tr td:first-of-type  {
		border-left:none !Important;
	}

	.calendar-header-month {
		background:#BFBFBF !important;
		color: #3F3F3F !important;
		text-align:center;
		border-bottom: 1px solid #898989;
		border-right:1px solid #898989 !important;
	}

	.calendar-header-cell {
		vertical-align: middle !important;
		font-size: 9px;
		color: #666;
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		border-bottom: 1px solid #bbbbbb;
		background: #E5E5E5;
		text-align:center;
	}

	.calendar-cell-price {
		display:block !important;
		font-weight:normal;
	}

	.calendar-cell-last {
		border-left:none;
		color: #666666;
	}
	.calendar-cell-last span {
		display:none;
	}
	.calendar-cell-lastfixer {
		border-left:1px solid #898989;
	}
	.calendar-cell-full {
		background-image:url(../../images/cal-2-red.png);
		background-image:url(../../images/cal-2-red.png), -moz-linear-gradient(top,  #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
		background-image:url(../../images/cal-2-red.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
		background-image:url(../../images/cal-2-red.png), -webkit-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
		background-image:url(../../images/cal-2-red.png), -o-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Opera 11.10+ */
		background-image:url(../../images/cal-2-red.png), -ms-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* IE10+ */
		background-image:url(../../images/cal-2-red.png), linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%); /* W3C */
		background-repeat:repeat-x;
		background-position: bottom center;
	}

	.calendar-cell-occupied {
		cursor:pointer;
		background-image:url(../../images/cal-2-yel.png);
		background-image:url(../../images/cal-2-yel.png), -moz-linear-gradient(top,  #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
		background-image:url(../../images/cal-2-yel.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
		background-image:url(../../images/cal-2-yel.png), -webkit-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
		background-image:url(../../images/cal-2-yel.png), -o-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Opera 11.10+ */
		background-image:url(../../images/cal-2-yel.png), -ms-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* IE10+ */
		background-image:url(../../images/cal-2-yel.png), linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%); /* W3C */
		background-repeat:repeat-x;
		background-position: bottom center;
	}
	.calendar-cell-empty {
		cursor:pointer;
		background-image:url(../../images/cal-2-green.png);
		background-image:url(../../images/cal-2-green.png), -moz-linear-gradient(top,  #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
		background-image:url(../../images/cal-2-green.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
		background-image:url(../../images/cal-2-green.png), -webkit-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
		background-image:url(../../images/cal-2-green.png), -o-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Opera 11.10+ */
		background-image:url(../../images/cal-2-green.png), -ms-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* IE10+ */
		background-image:url(../../images/cal-2-green.png), linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%); /* W3C */
		background-repeat:repeat-x;
		background-position: bottom center;
	}
	.calendar-header-month-prev {
		cursor:pointer;
		text-align:left;
		vertical-align: middle !important;
		color: #E0E0E0 !important;
		text-transform: capitalize !important;
		text-shadow: 0 -1px 0 #000;
		font-size:14px !important;
		padding-left: 5px;

	}

	.calendar-header-month-next {
		cursor:pointer;
		text-align:right;
		vertical-align: middle !important;
		color: #E0E0E0 !important;
		text-shadow: 0 -1px 0 #000;
		font-size:14px !important;
		text-transform: capitalize !important;
		padding-right: 5px;
	}

	.calendar-header-show-month {
		text-align:center;
		color: #E0E0E0 !important;
		font-size: 14px !important;
		font-family: sans-serif !important;
		text-transform: none !important;
		vertical-align: middle !important;
	}

	.calendar-cell-today {
		color: #000;
		font-weight:bold;
	}
	.calendar-table tbody tr .calendar-cell-selected {
		color:#fff;
		background: #757575;
	}
	#showCalender .calendar-full {
		-webkit-box-shadow: 0 1px 5px rgba(226,24,24,0.6) !important;
		-moz-box-shadow: 0 1px 5px rgba(226,24,24,0.6) !important;
		box-shadow: 0 1px 5px rgba(226,24,24,0.6) !important;
	}

	td.calendar-cell-occupied2.calendar-cell-halfend {
		background-image:url(../../images/cal-2-end-yel.png);
		background-image:url(../../images/cal-2-end-yel.png), -moz-linear-gradient(top,  #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
		background-image:url(../../images/cal-2-end-yel.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
		background-image:url(../../images/cal-2-end-yel.png), -webkit-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
		background-image:url(../../images/cal-2-end-yel.png), -o-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Opera 11.10+ */
		background-image:url(../../images/cal-2-end-yel.png), -ms-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* IE10+ */
		background-image:url(../../images/cal-2-end-yel.png), linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%); /* W3C */
		background-repeat:no-repeat;
		background-position: bottom center;
	}
	td.calendar-cell-occupied2.calendar-cell-halfstart {
		background-image:url(../../images/cal-2-start-yel.png);
		background-image:url(../../images/cal-2-start-yel.png), -moz-linear-gradient(top,  #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
		background-image:url(../../images/cal-2-start-yel.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
		background-image:url(../../images/cal-2-start-yel.png), -webkit-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
		background-image:url(../../images/cal-2-start-yel.png), -o-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Opera 11.10+ */
		background-image:url(../../images/cal-2-start-yel.png), -ms-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* IE10+ */
		background-image:url(../../images/cal-2-start-yel.png), linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%); /* W3C */
		background-repeat:no-repeat;
		background-position:bottom center;
	}
	
	td.calendar-cell-full2.calendar-cell-halfend {
		background-image:url(../../images/cal-2-end-red.png);
		background-image:url(../../images/cal-2-end-red.png), -moz-linear-gradient(top,  #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
		background-image:url(../../images/cal-2-end-red.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
		background-image:url(../../images/cal-2-end-red.png), -webkit-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
		background-image:url(../../images/cal-2-end-red.png), -o-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Opera 11.10+ */
		background-image:url(../../images/cal-2-end-red.png), -ms-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* IE10+ */
		background-image:url(../../images/cal-2-end-red.png), linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%); /* W3C */
		background-repeat:no-repeat;
		background-position:  bottom center;
	}
	td.calendar-cell-full2.calendar-cell-halfstart {
		background-image:url(../../images/cal-2-start-red.png);
		background-image:url(../../images/cal-2-start-red.png), -moz-linear-gradient(top,  #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
		background-image:url(../../images/cal-2-start-red.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
		background-image:url(../../images/cal-2-start-red.png), -webkit-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
		background-image:url(../../images/cal-2-start-red.png), -o-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* Opera 11.10+ */
		background-image:url(../../images/cal-2-start-red.png), -ms-linear-gradient(top,  #ededed 0%,#d8d8d8 100%); /* IE10+ */
		background-image:url(../../images/cal-2-start-red.png), linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%); /* W3C */
		background-repeat:no-repeat;
		background-position: bottom center;
	}