	.calendar-table {
		color: #000 !important;
		font-size: 12px;
		border:none !important;
		border-spacing: 0;
		-moz-user-select: none; 
		-khtml-user-select: none; 
		-webkit-user-select: none; 
		-o-user-select: none; 
	}

	.calendar-table table {
		border:none !important;
		border-spacing:0px;
		padding:4px !important;
	}

	.calendar-table > tbody > tr > td {
		border-top: none;
		border-right:none;
	}

	.calendar-table > tbody {
		border-right:none;
	}

	.calendarheader {
		color: #000 !important;
		text-align: center;
		border:  none !important;
	}

	.calendar-cell {
		color: #323232;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid #cccccc;
		border-left: 1px solid #cccccc;
		border-top:none !important;
		vertical-align: middle;
		padding:3px !important;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
		background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	}

	.calendar-direct-table > tbody > tr > td:first-of-type {
		border-left:1px solid #ccc ;
	}

	.calendar-direct-table tbody tr td:last-of-type {
		border-right:1px solid #ccc !important;
	}

	.calendar-header-month {
		color: #e0e0e0;
		text-align: center;
		text-shadow: 0 -1px 0 #000;
		background: rgb(183,80,75); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(183,80,75,1) 0%, rgba(162,70,65,1) 50%, rgba(155,67,62,1) 51%, rgba(136,57,53,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,80,75,1)), color-stop(50%,rgba(162,70,65,1)), color-stop(51%,rgba(155,67,62,1)), color-stop(100%,rgba(136,57,53,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(183,80,75,1) 0%,rgba(162,70,65,1) 50%,rgba(155,67,62,1) 51%,rgba(136,57,53,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(183,80,75,1) 0%,rgba(162,70,65,1) 50%,rgba(155,67,62,1) 51%,rgba(136,57,53,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(183,80,75,1) 0%,rgba(162,70,65,1) 50%,rgba(155,67,62,1) 51%,rgba(136,57,53,1) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(183,80,75,1) 0%,rgba(162,70,65,1) 50%,rgba(155,67,62,1) 51%,rgba(136,57,53,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7504b', endColorstr='#883935',GradientType=0 ); /* IE6-9 */
		border: 1px solid #74312e !important;
		border-bottom:  none !important;
		color:#fff !important;
		font-weight:bold !important;
		font-size:13xp !important;
		font-family:"Verdana", sans-serif !important;
		text-transform: capitalize !important;
		text-align:center;
		border-bottom: 1px solid #ccc;
	}

	.calendar-header-cell {
		background: #323232; /* Old browsers */
		background: -moz-linear-gradient(top,  #323232 0%, #141414 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#141414)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #323232 0%,#141414 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #323232 0%,#141414 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #323232 0%,#141414 100%); /* IE10+ */
		background: linear-gradient(top,  #323232 0%,#141414 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
		vertical-align: middle !important;
		text-transform: capitalize !important;
		border-left: 1px solid #000;
		color: #fff !important;
		font-size: 9px !important;
		font-family:"Verdana" !important;
		text-align:center;
		text-shadow: 0 1px 0 #000;
		padding:3px !important;
	}

	.calendar-cell-price {
		display:block !important;
		font-weight:normal;
	}

	.calendar-cell-last {
		background:#fff;
		color: #666666;
	}

	.calendar-cell-last span {
		display:none;
	}
	.calendar-cell span {
		color:#666666;
	}

	.calendar-table tbody tr .calendar-cell-selected span {
		color:#fff;
	}
	.calendar-cell-lastfixer {
		border-left:1px solid #cccccc;
	}

	.calendar-cell-full {
		color: #C14B49;
	}

	.calendar-cell-occupied {
		cursor:pointer;
		color: #FFBF00;
	}

	.calendar-cell-empty {
		cursor:pointer;
		color: #72AA08;
	}

	.calendar-header-month-prev {
		cursor:pointer;
		text-align:left;
		vertical-align: middle !important;
		color:  #000;
		text-transform: capitalize !important;
		font-weight:bold !important;
		font-size:14px !important;
		font-family:"Verdana", sans-serif !important;
	}

	.calendar-header-month-next {
		cursor:pointer;
		text-align:right;
		vertical-align: middle !important;
		color:  #000;
		text-transform: capitalize !important;
		font-weight:bold !important;
		font-size:14px !important;
		font-family:"Verdana", sans-serif !important;
	}

	.calendar-header-show-month {
		text-align:center;
		font-size: 14px !important;
		font-family:"Verdana" !important;
		font-weight:bold !important;
		text-transform: none !important;
		vertical-align: middle !important;
	}

	.calendar-cell-today {
		color: #000 !important;
		font-weight:bold;
	}
	.calendar-table tbody tr .calendar-cell-selected {
		color:#fff;
		border-left: 1px solid #207ce5 !important;
		border-bottom: 1px solid #207ce5  !important;
		-webkit-box-shadow: inset 0 1px 3px #3170AA;
		-moz-box-shadow: inset 0 1px 3px #265884;
		box-shadow: inset 0 1px 3px #265884;
		background: #499bea; /* Old browsers */
		background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* IE10+ */
		background: linear-gradient(top,  #499bea 0%,#207ce5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
	}
	#showCalender .calendar-full {
		-webkit-box-shadow: 0 1px 5px rgba(226,24,24,0.6) !important;
		-moz-box-shadow: 0 1px 5px rgba(226,24,24,0.6) !important;
		box-shadow: 0 1px 5px rgba(226,24,24,0.6) !important;
	}
