.easyFrontendFormular {
	margin:0 auto;
	width:500px;
	padding:14px; 
}
.easyFrontendFormular p, .easyFrontendFormular h1, .easyFrontendFormular form, .easyFrontendFormular button{border:0; margin:0; padding:0;}
.easyFrontendFormular{
	margin:0 auto;
	width:410px;
	padding:14px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
#easyFrontendFormular{
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	line-height:1em;
}
#easyFrontendFormular h1 {
	font-size:14px !important;
	font-weight:bold !important;
	margin-bottom:8px !important;
	margin-left:10px !important;
}
#easyFrontendFormular p{
	font-size:11px !important;
	color:#666666 !important;
	margin: 0px 10px 20px 10px !important;
	border-bottom:solid 1px #b7ddf2 !important;
	padding-bottom:10px !important;
}
#easyFrontendFormular label{
	display:inline !important;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}
#easyFrontendFormular .formblock {
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	width:60% !important;
	font-size:12px;
	margin:2px 0 20px 10px !important;
	display:inline-block !important;
}

#easyFrontendFormular small, #easyFrontendFormular .small {
	color:#666666 !important;
	display:block !important;
	font-size:11px !important;
	font-weight:normal !important;
	text-align:right !important;
	width:140px;
}
#easyFrontendFormular span.row {
	display:inline-block;
	min-width:200px;
}
#easyFrontendFormular input{
	font-size:12px !important;
	padding:4px 5px !important;
	border:solid 1px #aacfe4 !important;
	margin:2px 0 10px 10px !important;
	color:#666666;
}
#easyFrontendFormular input[type=radio]{
	width:10px;
}
#easyFrontendFormular textarea{
	font-size:12px;
	padding:4px 10px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}
#easyFrontendFormular select{
	font-size:12px;
	padding:2px 2px;
	border:solid 1px #aacfe4;
	width:222px;
	margin:2px 0 20px 10px;
	background:#FAFAFA;
	color:#666666;
}
#easyFrontendFormular pre{
	background: none;
	font-family:Verdana !important;
	padding:2px !important;
	margin-bottom: 4px;
}
#easyFrontendFormular pre input{
	margin:0px 0px 0px 15px;
}
#easyFrontendFormular input[type=submit], .easy-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff;
	box-shadow:inset 0px 1px 0px 0px #575757;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444444), color-stop(1, #636363) );
	background:-moz-linear-gradient( center top, #444444 5%, #636363 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#636363');
	background-color:#ededed;
	border:1px solid #575757 !important;
	display:inline-block;
	color:#ffffff !important;
	line-height:1.1;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000;
	cursor:pointer;
}
#easyFrontendFormular input[type=submit]:hover, .easy-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #636363), color-stop(1, #636363) );
	background:-moz-linear-gradient( center top, #636363 5%, #636363 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#636363', endColorstr='#444444');
	color:#ffffff;
}

.easy-button.deactive1,.easy-button.deactive2 {
	cursor: default;
	background: #636363;
}

.easy-button.back {
	
}

.showError {
	padding:6px;
	width:400px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#E80000;
	margin-left: 4px;
	line-height :1.2em;
}
#easyFrontendFormular span.radio {
    width: 55%;
    display: inline-block;
    max-width:68%;
    margin:0px 0px 8px 10px;
}

#easyFrontendFormular span.radio span {
    display: block;
}

#easyFrontendFormular img {
    box-shadow: none;
}
.showPrice {
	padding:6px;
	width:170px;
	font-family :Verdana;
	white-space: nowrap; 
	background: #FFF9AD;
	margin: 10px 0px;
}

.ui-datepicker{
	font-size:10px !important;
}

.ui-state-default{
	text-align:center !important;
}

.avatar-15 {
	width:15px;
	height:15px;
	margin:0px 5px 0px 5px;
	vertical-align:text-bottom; 	
}
.chat-container{
	float:right;
	width:40%;
	border-left:solid 1px #EAEAEA;
}
.chat-container .chat-entry-h1:first-of-type {
	border-top:solid 1px #EAEAEA;
}
.chat-entry-h1{
	font-size:10px;
	color:#666666;
	margin: 0px 10px 8px 10px !important;
	border-bottom:solid 1px #EAEAEA;
	padding:8px 0px 8px;
}
.chat-admin {
	background:#FAFFE6;
}
.chat-user {
	background:#fff;
}
.chat-entry-bold {
	color:#000;
	font-size:14px !important;
	font-weight:bold !important;
}
.chat-entry-message {
	display:inline-block;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 10px  0px;
    color: #666666;
    font-size: 11px;
    font-weight: normal;
}
.chat-entry-p {
	padding-bottom: 10px !important;
	margin-bottom: 0px !important;
}
.chat-entry-time {
	float:right;
	padding-right: 6px;
}
.easy-edit-status {
	background:#f9f9f9;
	border-top:solid 1px #EAEAEA;
	border-bottom:solid 1px #EAEAEA;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding: 5px 0px;
	white-space:nowrap;
}
.hide-it {
	visibility:hidden;
	max-width:1px;
	max-height:1px;
	position:absolute;
	overflow:hidden;
}
label.easy-show-error  {
	margin-bottom: 2px;
	color: #ff0000;
	text-align:left !important;
	font-size:12px !important;
	font-weight:normal !important;
	min-width: 165px  !important;
	width: 165px  !important;
	max-width:70% !important;
	margin-left:150px;
	margin-top: -10px;
	min-width:110px;
}
label.easy-show-error + label.easy-show-error{
	margin-top:0px;
}
.formblock label.easy-show-error  {
	margin-left:0px;
}
.easy-show-error-div {
	display: inline-block;
	width: 92%;
	background: none repeat scroll 0 0 #FBE3E4;
	border: 1px solid #FBC2C4;
	color: #8A1F11 !important;
	margin-bottom: 1em;
	padding: 10px;
	margin: 5px;
}
.easy-show-error-div li > label {
	display: normal !important;
	float: none !important;
	font-weight: normal !important;
	text-align: left !important;
	cursor:pointer;
	width:100% !important;
	padding:1px !important;
}
.easy-show-error-div ul {list-style-type: disc; margin:0px; padding: 0px;margin-left: 15px;margin-top: 10px; }
.easy-show-error-div ul li {margin-bottom: 5px; }
.easy-show-error-div h2 {color: #8A1F11 !important;font-size:15px;font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; }
.easy-show-error-div p {margin: 1em 0;}
