.easyFrontendFormular {
	margin:0 auto;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1em;
}

#easyFrontendFormular label, #easyFrontendFormular > div.usereditdiv label {
    line-height: 1em;
	display:inline-block;
	font-weight:bold;
	text-align:right;
	width:35%;
	float:left !important;
}

#easyFrontendFormular h2 {
	font-size:11px;
	color:#666666;
	margin: 0px 10px 20px 10px;
	border-bottom:solid 1px #EAEAEA;
	padding-bottom:10px;
	font-weight: normal;
}

#easyFrontendFormular h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
	margin-left:10px;
}

#easyFrontendFormular small, #easyFrontendFormular .small {
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
}

#easyFrontendFormular .formblock {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:60%;
	font-size:12px;
	margin:0px 0 12px 10px;
	display:inline-block;
}

#easyFrontendFormular select {
	width:52%;
	margin:0px 0px 12px 10px;
	/*background: #FAFAFA;
	border: 1px solid #DDDDDD;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	color: #888888;*/
	padding: 3px 3px 3px 2px;
}

#easyFrontendFormular input[type=text]:focus, #easyFrontendFormular textarea:focus { background: #fff; }

#easyFrontendFormular input[type=text] {
    display: inline-block;
	width:50%;
	margin: 0px 0px 12px 10px;
	padding: 5px 4px;
}

#easyFrontendFormular textarea {
	margin:0px 0px 12px 10px;
	width:52%;
}
#easyFrontendFormular span.radio {
    width: 55%;
    display: inline-block;
    max-width:68%;
    margin:0px 0px 8px 10px;
}

#easyFrontendFormular span.radio span {
    display: block;
}

#easyFrontendFormular img {
   box-shadow: none;
}

#easyFrontendFormular .form-error {
	border: 1px solid #E80000 !important;
}

#easyFrontendFormular span.row {
	width: 60%;
	display:inline-block;
	margin:0px 0px 12px 9px;
	max-width: 64%;
}

#easyFrontendFormular span.row * {
	margin: 0px 1px;
}


#easyFrontendFormular span.row > select:nth-last-child(2),
#easyFrontendFormular span.row > *:nth-last-child(2) ~ select {
	width:auto;
	max-width: 33%;
}
#easyFrontendFormular span.row > input:nth-last-child(2),
#easyFrontendFormular span.row > *:nth-last-child(2) ~ input {
	max-width: 48%;
}
#easyFrontendFormular span.row > select:nth-last-child(3),
#easyFrontendFormular span.row > *:nth-last-child(3) ~ select {
	width:auto;
	max-width: 30%;
}
#easyFrontendFormular span.row > input:nth-last-child(3),
#easyFrontendFormular span.row > *:nth-last-child(3) ~ input {
    max-width: 32%;
}

#easyFrontendFormular span.row img {
	width: auto !important;
    border-radius: 0px;
    box-shadow: none;
}

#easyFrontendFormular #easy-form-from, #easyFrontendFormular  #easy-form-to {
	text-align: center;
}

#easyFrontendFormular .easy-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff;
	box-shadow:inset 0px 1px 0px 0px #575757;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444444), color-stop(1, #636363) );
	background:-moz-linear-gradient( center top, #444444 5%, #636363 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#636363');
	background-color:#ededed;
	border:1px solid #575757 !important;
	display:inline-block;
	color:#ffffff !important;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:5px 8px;
	width:30%;
	text-decoration:none;
	text-shadow:1px 1px 0px #000;
	cursor:pointer;
}
#easyFrontendFormular .easy-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #636363), color-stop(1, #636363) );
	background:-moz-linear-gradient( center top, #636363 5%, #636363 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#636363', endColorstr='#444444');
	color:#ffffff;
}

#easyFrontendFormular .easy-button.deactive1,#easyFrontendFormular .easy-button.deactive2 {
	cursor: default;
	background: #636363;
}

#easyFrontendFormular .easy-button.back {
	background: #606060;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #606060), color-stop(1, #7a7979) );
	background:-moz-linear-gradient( center top, #606060 5%, #7a7979 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#636363', endColorstr='#444444');
	margin-left:10px;
}

#easyFrontendFormular pre {
	background: none ;
	font-family:Verdana;
	padding:2px !important;
	margin-bottom: 4px;
}
#easyFrontendFormular .hide-it {
	visibility:hidden;
	max-width:1px;
	max-height:1px;
	position:absolute;
	overflow:hidden;
}
#easyFrontendFormular label.easy-show-error  {
	color: #ff0000;
	text-align:left;
	font-size:12px;
	font-weight:normal;
	width: 55%;
	height: auto;
	display: block;
	max-width:70%;
	margin: -10px 0px 3px 37%;
	float:none;
}
#easyFrontendFormular label.easy-show-error + label.easy-show-error {margin-top:0px}
#easyFrontendFormular .formblock label.easy-show-error {margin-left:0px}
#easyFrontendFormular .easy-show-error-div {
	display: inline-block;
	width: 92%;
	background: none repeat scroll 0 0 #FBE3E4;
	border: 1px solid #FBC2C4;
	color: #8A1F11 !important;
	margin-bottom: 3px;
	padding: 10px;
}
#easyFrontendFormular #easy-show-error > li > label {
	display: inline-block !important;
	float: none !important;
	font-weight: normal !important;
	text-align: left !important;
	cursor:pointer !important;
	width:100% !important;
}
#easyFrontendFormular .easy-show-error-div ul {list-style-type: disc; margin:10px 0px 0px 15px; padding: 0px; }
#easyFrontendFormular .easy-show-error-div ul li {margin: 0 0 2px 20px}
#easyFrontendFormular .easy-show-error-div h2 {margin:0px;color: #8A1F11 !important;font-size:15px;font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; }
#easyFrontendFormular .easy-show-error-div p {margin: 5px 0px 0px 0px ;}

#easyFrontendFormular .easy-form-price {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}

#easyFrontendFormular h1 .easy-form-price { margin-right: 25px; }
#easyFrontendFormular .ui-datepicker{ font-size:10px !important; }
#easyFrontendFormular .ui-state-default{ text-align:center !important; }

@media screen and (max-width: 550px){
	#easyFrontendFormular > label, #easyFrontendFormular > div.usereditdiv > label {
		margin-left: 15px;
		margin-top: 5px;
		display:block;
		text-align:left;
		width: 100%;
	}
	#easyFrontendFormular small, #easyFrontendFormular .small {
		display: block;
		font-size: 11px;
		width: 100%;
		text-align: left;
	}
	#easyFrontendFormular label.easy-show-error  {
		margin-top: 0px;
		margin-left: 20px;
		display:block;
		text-align:left;
		width: 100%;
	}
	#easyFrontendFormular span.row {
		margin: 4px 0px 6px 18px;
		max-width:90%;
	}
	#easyFrontendFormular > input[type="text"] {
		margin: 4px 0px 6px 18px;
		width:90%;
	}
	#easyFrontendFormular > textarea {
		margin: 4px 0px 6px 18px;
		width:90%;
	}
	#easyFrontendFormular select {
		margin: 4px 0px 6px 18px;
		width:90%;
	}
}